.flex-items {
  display: flex;
  align-items: center;
}

.margin-center {
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.v-bottom-navigation {
  & .v-btn__content {
    justify-content: flex-end;
    padding-top: 10px;
  }
}

.relative {
  position: relative;
}
