@import "transitions";

.flex-items {
  display: flex;
  align-items: center;
}

.margin-center {
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.v-bottom-navigation {
  & .v-btn__content {
    justify-content: flex-end;
    padding-top: 10px;
  }
}

.relative {
  position: relative;
}

.row {
  margin-left: 0 !important;
}

.low-opacity {
  opacity: 0.25;
}

.btn-top {
  position: absolute !important;
  top: 12px;
  &_right {
    right: 12px;
  }
  &_left {
    left: 12px;
  }
  &_center {
    width: 50px;
    left: calc(50% - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
  }
}

.v-dialog {
  max-width: 500px;
}
